 * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: white;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }

        button {
            padding: 5px 10px;
            font-size: 16px;
        }

        input {
            width: 100%;
            padding: 5px;
            outline: none;
        }

        .counter {
            font-size: 18px;
            font-weight: bold;
        }

        .btns {
            display: flex;
            margin-top: 2%;
        }

        @media (max-width:758px) {
            body {
                padding: 13px;
            }

            th,
            td,
            input,
            button {
                padding: 7px;
                font-size: 12px;
            }

            .counter {
                font-size: 13px;
            }

            h2 {
                font-size: 18px;
            }

            p {
                font-size: 13px;
            }
            .plus{
                font-size: 12px;
            }
        }